[submodule "vendor/CommonLibSSE"]
	path = vendor/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE.git

[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
